*{
    font-family: 'Lugrasimo', cursive;
    font-weight: 150;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}
/*OUTLINE*/
div{
    width: 120px;
    height: 120px;
    background-color: yellow;
    display: block;
}
.caja1{
    background-color: red;
}
.caja2{
    background-color: green;
    position: relative;
    top: 60px;
    left: 20px;
    z-index: 1;
}
.caja3{
    background-color: aqua;
    position: relative;
    
}
.caja4{
    background-color: blueviolet;
}

/*OJO CUANDO EL CONTENEDOR ES DE PADRE E HIJO NO FUNCIONA EL Z-INDEX FUNCIONA CON Z-INDEX-1*/